<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.king.cai"
    android:versionCode="6"
    android:versionName="1.1" >
 <!--    android:sharedUserId="android.uid.system"
    android:sharedUserLabel="@string/sharedUserLabel" -->
    
    <uses-sdk android:minSdkVersion="11" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"/> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/> -->

	  
    <application android:name=".TestOnLineApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
		android:theme="@android:style/Theme.Light">
       	           

        <activity
            android:name=".WorkspaceActivity" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar"            
            android:screenOrientation="portrait" >
    
<!--            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> -->
            <intent-filter >
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           	</intent-filter>                                    
         </activity>	
        
        <activity
            android:name=".ExplorerActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
                  
         </activity> 
        <activity
            android:name=".examination.KingDrawableActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Transparent"
            android:screenOrientation="portrait" >
         </activity> 
        <activity
            android:name=".examination.PaperActivity" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
           
        </activity>                  
        <service android:enabled="true" 
  				android:name=".service.KingService" >
            <!--android:permission="android.permission.SET_PREFERRED_APPLICATIONS"> -->
            <intent-filter >
                <action android:name="com.king.cai.service"/>
            </intent-filter>                            
        </service>
        <receiver android:enabled="true" 
                android:name=".BootCompleteReceiver" 
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter> 
        		<action android:name="android.intent.action.BOOT_COMPLETED" /> 
    		</intent-filter>            
        </receiver>
                
    </application>

</manifest>